<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<style>
    .center{
        margin:auto;
        width: 50%;
        padding: 10px;
        position:relative;
        top:50%;
        transform: translateY(-50%);
    }
    .container{
        background-color:aliceblue;
        border: 5px solid #B22222;
        border-radius: 30px;
        width:50%;
        padding: 30px;
    }
</style>

<div style="background-color: #0E6655; height:100vh;">
    <div class ="container center">
        <h1 style ="text-align:center">Project Information</h1>
        <p style="text-align:center">
            <br>
            <b>Class: </b> CSCI 665 - Software Engineering <br>
            <b>Professor:</b> Maherukh Aktar <br>
            <b>Semester:</b> Fall 2021 <br>
            <b>Team Members:</b> <br><br>
        
            Tirth Darji<br>
            Paita Navadia<br>
            David Cheng<br>
            Smit Purohit<br>
            Dev Patel<br>
        </p>
    </div>
</div>
</body>
</html>

