<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NutriHealth</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/Form-Select---Full-Date---Month-Day-Year.css' %}">
    <link rel="stylesheet" href="{% static 'css/Google-Style-Login.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-screen.css' %}">
    <link rel="stylesheet" href="{% static 'css/Multi-Select-Dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/Multiple-Input-Select-Pills.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Edit-Form-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Edit-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
    <div class="container">
        <div class="sidebar-heading text-center py-4 color-red  fs-4 fw-bold text-uppercase">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M12 2C13.66 2 15 3.34 15 5S13.66 8 12 8 9 6.66 9 5 10.34 2 12 2M20 18L18 12.56C17.65 11.57 17.34 10.71 16 10C14.63 9.3 13.63 9 12 9C10.39 9 9.39 9.3 8 10C6.68 10.71 6.37 11.57 6 12.56L4 18C3.77 19.13 6.38 20.44 8.13 21.19C9.34 21.72 10.64 22 12 22C13.38 22 14.67 21.72 15.89 21.19C17.64 20.44 20.25 19.13 20 18M15.42 17.5L12 21L8.58 17.5C8.22 17.12 8 16.61 8 16.05C8 14.92 8.9 14 10 14C10.55 14 11.06 14.23 11.42 14.61L12 15.2L12.58 14.6C12.94 14.23 13.45 14 14 14C15.11 14 16 14.92 16 16.05C16 16.61 15.78 17.13 15.42 17.5Z"/>
            </svg>
            NutriHealth
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                {#                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>#}
                <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            </ul>
            <span class="navbar-text actions">
                        <a class="btn btn-primary border rounded-pill action-button" role="button" href="/dashboard">Dashboard</a>
                        <a class="btn btn-primary border rounded-pill action-button" role="button" href="/profile">My Profile</a>
                    </span>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <canvas id="calories"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <canvas id="sodium"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <canvas id="suger"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <canvas id="fat"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <canvas id="protein"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <canvas id="water"></canvas>
            </div>
        </div>
    </div>
</div>

</div>
</div>

<script>
    //------------------Calories----------------
    var ctx = document.getElementById('calories');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse("{{ dates|escapejs }}"),
            datasets: [{
                label: 'Weekly Calorie Intake',
                //---------------------------Fake Data Below-----------------------
                data: {{ calories }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 3.7
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    //------------------Sodium----------------
    var ctx = document.getElementById('sodium');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse("{{ dates|escapejs }}"),
            datasets: [{
                label: 'Weekly Sodium Intake',
                //---------------------------Fake Data Below-----------------------
                data: {{ sodium }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 3.7
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    //------------------Suger----------------
    var ctx = document.getElementById('suger');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse("{{ dates|escapejs }}"),
            datasets: [{
                label: 'Weekly Suger Intake',
                //---------------------------Fake Data Below-----------------------
                data: {{ sugar }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 3.7
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    //------------------fat----------------
    var ctx = document.getElementById('fat');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse("{{ dates|escapejs }}"),
            datasets: [{
                label: 'Weekly Fat Intake',
                //---------------------------Fake Data Below-----------------------
                data: {{ fat }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 3.7
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    //------------------protein----------------
    var ctx = document.getElementById('protein');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse("{{ dates|escapejs }}"),
            datasets: [{
                label: 'Weekly Protein Intake',
                //---------------------------Fake Data Below-----------------------
                data: {{ protein }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 23, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 5
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    //------------------water----------------
    var ctx = document.getElementById('water');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse("{{ dates|escapejs }}"),
            datasets: [{
                label: 'Weekly Water Intake',
                //---------------------------Fake Data Below-----------------------
                {#data: JSON.parse("{{ water }}"),#}
                data: {{ water }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 23, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 5
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/js/Multi-Select-Dropdown-by-Jigar-Mistry.js"></script>
<script src="{% static 'js/Profile-Edit-Form.js' %}"></script>
</body>

</html>