<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/recipe_card.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>

    <title>Recipe Marketplace</title>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <div class="container-fluid ">
        <div class="sidebar-heading text-center py-4 color-red  fs-4 fw-bold text-uppercase">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M12 2C13.66 2 15 3.34 15 5S13.66 8 12 8 9 6.66 9 5 10.34 2 12 2M20 18L18 12.56C17.65 11.57 17.34 10.71 16 10C14.63 9.3 13.63 9 12 9C10.39 9 9.39 9.3 8 10C6.68 10.71 6.37 11.57 6 12.56L4 18C3.77 19.13 6.38 20.44 8.13 21.19C9.34 21.72 10.64 22 12 22C13.38 22 14.67 21.72 15.89 21.19C17.64 20.44 20.25 19.13 20 18M15.42 17.5L12 21L8.58 17.5C8.22 17.12 8 16.61 8 16.05C8 14.92 8.9 14 10 14C10.55 14 11.06 14.23 11.42 14.61L12 15.2L12.58 14.6C12.94 14.23 13.45 14 14 14C15.11 14 16 14.92 16 16.05C16 16.61 15.78 17.13 15.42 17.5Z"/>
            </svg>
            NutriHealth
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about">About</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {#                              <li><a class="dropdown-item" href="/templates/signup.html">Sign Up</a></li>#}
                        <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Login -->
<div class="card bg-dark">
    <img src="{% static 'Images/bg.jpg' %}" class="card-img" alt="..." style="...">
    <div class="card-img-overlay">
        <div class="card-text">
            <div class="row m-0 p-0 main-login-container">
                <div class="col-md-12 p-0">
                    <div class="align-items-right">
                        <div class="login-col">
                            <div class="container main-login-form my-5 ">
                                <h3 class="login-title text-center m-2 mb-4">Enter filter condition</h3>
                                <form action="/recipe/search/">
                                    <input type="text" class="form-control" placeholder="{{ placeholder_term }}"
                                           name="search_term" id="search_term" required>
                                    <div class="my-4 text-center">
                                        <button type="submit" class="btn btn-primary btn-lg m-3">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 p-0">
    {% if recipes|length > 0 %}
        <div class="container-fluid bg- flex-gap" style="background-color: #91C0AB">
            <div class="col-12 ">
                <b>Total matches: </b> {{ matches }}
            </div>
        </div>
    {% endif %}

    <div class="container-fluid bg- flex-gap" style="background-color: #91c0ab;">
        {% for recipe in recipes %}
            <div class="row w-100 flex-gap recipe_card p-3">
                <div class="col-8">
                    <div class="col-12">
                        <p>
                            <b>Name: </b>{{ recipe.name }} <br>
                            <b>Time to cook: </b>{{ recipe.minutes }} minutes<br>
                            <b>Description: </b>{{ recipe.description }}<br>
                            <b>Ingredients: </b>{{ recipe.ingredients }} <br>
                            <b>Number of steps: </b>{{ recipe.n_steps }} <br>
                            <b>ID: </b>{{ recipe.id }} <br>
                        </p>
                    </div>

                    <div class="col-12">
                        <u>Nutrition Facts: </u>
                        <ul>
                            <li><b>Calories: </b> {{ recipe.calories }} </li>
                            <li><b>Total Fat (PDV): </b> {{ recipe.fat }}  </li>
                            <li><b>Sugar (PDV): </b> {{ recipe.sugar }} </li>
                            <li><b>Sodium (PDV): </b> {{ recipe.sodium }} </li>
                            <li><b>Protein (PDV): </b> {{ recipe.protein }} </li>
                        </ul>
                    </div>

                    <div class="col-12">
                        <u>Steps: </u>
                        <ol>
                            {% for step in recipe.steps %}
                                <li> {{ step }} </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary btn-lg m-2" id="{{ recipe.id }}" role="button" onclick="addToMeal()">Add
                        to meal plan</a>
                </div>

            </div>
        {% endfor %}
    </div>
</div>


<!-- JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });

    function searchCuisine() {
        var cousines = $("#search_term").val();
        if (cousines === "") {
            return;
        }
        location.href = '/recipe/search/' + cousines + '/';
    }

    function addToMeal() {
        var recipe_id = event.target.id;
        location.href = '/recipe/add/?recipe_id=' + recipe_id;
    }

</script>
</body>
</html>